<header>
    <h2>Header Component</h2>
    <p>{{text}}</p>
    {{#with menu}}
    <div class="{{class}}"><a href="{{href}}">{{label}}</div>
    {{/with}}
    {{#with search}}
    <div class="{{class}}"><a href="{{href}}">{{label}}</div>
    {{/with}}
</header>
